.favorite {
    height: 100%;
    &_wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #f8f8f8;
    }
    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 25px;
        &_text {
            color: #888888;
        }
    }

    &_end {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        font-size: 30px;
        color: #888888;
    }
    &_recommend {
        padding: 30px 30px;
        background-color: #ffffff;
        &_title {
            color: #333;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        &_info {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            &_mleft:nth-child(even) {
                margin-left: 6px;
            }
            &_mright:nth-child(odd) {
                margin-right: 6px;
            }
        }
    }
}
