<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhn.travel.mapper.FavoriteMapper">
    <select id="isFav" resultType="java.lang.Integer">
        select favorite_id
        from t_favorite
        where spot_id = #{spotId}
          and user_id = #{uid}
    </select>
</mapper>
