<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhn.travel.mapper.OrderMapper">
    <select id="findByUser" resultType="map">
        select order_id         AS orderId,
               spot_name        AS orderSpotname,
               order_total      AS orderTotal,
               order_status     AS orderStatus,
               order_createtime AS orderCreatetime,
               order_usetime    AS orderUsetime,
               t_order.spot_id  AS spotId
        from t_order,
             t_spot
        WHERE t_order.spot_id = t_spot.spot_id
          and t_order.user_id = #{id}
          and t_order.order_status like "%${type}%"
          and t_order.is_deleted = 0

    </select>

    <update id="deleteOrder">
        update t_order
        set is_deleted = 1
        where order_id = #{id}
    </update>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id">
        insert into t_order (order_usetime, order_total, order_status, order_contact, spot_id, user_id)
        values (#{orderUsetime}, #{orderTotal}, #{orderStatus}, #{orderContact}, #{spotId}, #{userId})
    </insert>
</mapper>
